html,body {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background: transparent;
	font-family: "微软雅黑";
	font-size: 50px;
	margin: 0;
}

#ar-index {
	width: 100%;
	height: 100%;
	background: white;
	position: relative;
	display: block;
}

#ar-panel {
	position: fixed;
	top: 88%;
	left: 4%;
	bottom: 2%;
	width: 92%;
	height: 10%;
	background: transparent;
}
#ar-game{
	position: relative;
	z-index: 100;
}
#ar-recognition-result{
	position: absolute;
	left:0;
	top:0;
	z-index: 101;
}
#ar-result-jeans{
	position: fixed;
	z-index: 102;
	bottom: 0;
	text-align: center;
}
#ar-result-jeans .slogan{
	width: 100%;
}
#ar-result-jeans .btn{
	width: 70%;
}

@keyframes myfirst {
	0% {
		top: 1%;
	}
	100% {
		top: 99%;
	}
}

@-webkit-keyframes myfirst {
	0% {
		top: 1%;
	}
	100% {
		top: 99%;
	}
}